<div class="p-3 px-md-4 mt-5 mb-5 border-bottom shadow rounded">
    <div class="align-items-center text-align-center mt-5 checkoutTextAlignCenter">
        <h1 class="align-items-center">Only authorized users should be able to see this page</h1>
    </div>
    <div class="align-items-center checkoutTextAlignCenter">
        <h3 class="my-4">You can Login or Signup</h3>
        <a class="btn btn-success mr-4 mb-4 checkoutButtons" routerLink='/login' style="color: #fff;">Login</a>
        <a class="btn btn-outline-primary mr-3 mb-4 checkoutButtons" routerLink='/signup'>Sign up</a>
    </div>
</div>