<carousel>
    <slide>
        <img src="../../assets/images/hero1.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/images/hero2.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="../../assets/images/hero3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
</carousel>

<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the Skitopa Shop!</h1>

    </div>
    <div class="justify-content-center pt-4" style="display: grid;">

        <h4 style="justify-self: center;">This project is build on a custom made Angular framework. For backend .net 5.
        </h4>
        <a href="https://github.com/ygtalp/skitopia-dotnetCore-Angular" class="btn btn-primary"
            style="width: 200px;justify-self: center;" target="_blank">
            See project on Github <i class="fa fa-github fa-lg"></i></a>

        <code class="m-5">
            <h3>Commit History and Details from Github</h3>

        
            <!-- <ol>
                <li>
                    * <47602e5> 2021-10-07  Done: 400, 401, 404, 500 Interceptors. Error test page and toast.
                </li>
                <li>
                    * <089c191> 2021-10-07  Done Client: Nav Active Link, Product Detail Page, Routes, Lazy Loading (Angular Module)
                </li>
                <li>
                    * <0499b6f> 2021-10-03  Client Done: Navbar, Logo, Products and Pagination Models, UI                </li>
                <li>
                    * <1365fe7> 2021-10-02  Done: Angular Implemented. SSL/HTTPS, Bootstrap, Ngx-Bootstrap
                </li>
                <li>
                    * <7fa791a> 2021-10-02  Done: Sorting Specification, Filtering Brand & Type Functionality, Pagination Size & Indexing, Search Functionality, CORS
                </li>
                <li>
                    * <7fc201b> 2021-09-24  Done: Error handling and cleaning for startup
                </li>
                <li>
                    * <0c09675> 2021-09-22  Seed Data and Include brands/types to product controller
                </li>
                <li>
                    * <78117b2> 2021-09-22  Second commit desktop
                </li>

            </ol> -->
            <!-- * 47602e5 (HEAD -> master, origin/master) Done: 400, 401, 404, 500 Interceptors. Error test page and toast. (ygtalp, 6 hours ago)
            * 089c191 Done Client: Nav Active Link, Product Detail Page, Routes, Lazy Loading (Angular Module) (ygtalp, 8 hours ago)
            * fa760e0 Fix: End of lines error. (ygtalp, 2 days ago)
            * cee2309 Done Client: Service, Designing Shop Page, Product Filters, Filter & Sort Functionality, Pagination and front etc. Fully~ complated front page. (ygtalp, 2 days ago)
            * 0499b6f Client Done: Navbar, Logo, Products and Pagination Models, UI (ygtalp, 4 days ago)
            * 1365fe7 Done: Angular Implemented. SSL/HTTPS, Bootstrap, Ngx-Bootstrap (ygtalp, 5 days ago)
            * 7fa791a Done: Sorting Specification, Filtering Brand & Type Functionality, Pagination Size & Indexing, Search Functionality, CORS (ygtalp, 5 days ago)
            * 7fc201b Done: Error handling and cleaning for startup (ygtalp, 13 days ago)
            * d5c8bf3 Done: Generic Repository, Specifaction Pattern, DTO, AutoMapper, Static Img Files (ygtalp, 2 weeks ago)
            * 0c09675 Seed Data and Include brands/types to product controller (ygtalp, 2 weeks ago)
            * 78117b2 Second commit desktop (ygtalp, 2 weeks ago) 

            git log --graph --date-order -C -M --pretty=format:"<%h> %ad [%an] %Cgreen%d%Creset %s" --all --date=short
            
            -->



            
        </code>

    </div>
</section>
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-6">
            <ngx-json-viewer class="commit-history"  [depth]="2" [json]="data"></ngx-json-viewer>
        </div>
    </div>
</div>