.cart-no {
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 1rem;
    background: #f05330;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}

a.ski {
    text-decoration: none;
    color: #343a40;
    border-left: solid #efeff0 2px;

    &.active {
        color: #343a40;
        background: #efeff0;
        //border-radius: 0px 60px 60px 0px !important;
        border-left: solid #f05330 2px;
    }
}

.logo {
    cursor: pointer;

    &.focus {
        outline: none;
    }
}

.btnSkitopia {
    margin-right: 20px !important;
}
