.cart-no {
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 1rem;
    background: #f05330;
    color: white;
    text-align: center;
    top: -12px;
    right: 32px;
}